# Functions

This page specifically focuses on examining functions in SQL that are exclusively designed for use with window functions.

---

The following cell sets up a Docker container with SQL that we'll use as an example.

In [1]:
docker run -d --rm\
    --name window_functions_example\
    -e POSTGRES_PASSWORD=postgres\
    postgres:15.4 &> /dev/null
sleep 5

docker exec -i window_functions_example psql -U postgres -d postgres << EOF
CREATE TABLE example_table (
    some_value INT NOT NULL,
    "group" TEXT NOT NULL,
    group2 TEXT NOT NULL
);
INSERT INTO example_table (some_value, "group", group2) VALUES
(3, 'C', 'X'),
(3, 'C', 'Y'),
(1, 'C', 'X'),
(4, 'B', 'Y'),
(3, 'A', 'X'),
(1, 'D', 'Y'),
(2, 'A', 'Z'),
(4, 'A', 'X'),
(2, 'A', 'X'),
(0, 'D', 'X'),
(1, 'D', 'Y'),
(4, 'A', 'Y'),
(4, 'B', 'Z'),
(0, 'D', 'X'),
(0, 'D', 'Z'),
(0, 'D', 'X'),
(2, 'D', 'Y'),
(4, 'C', 'Z'),
(4, 'A', 'X'),
(2, 'B', 'X'),
(3, 'A', 'Z'),
(1, 'C', 'Y'),
(3, 'D', 'X'),
(2, 'A', 'X'),
(4, 'B', 'X');

SELECT * FROM example_table LIMIT 5;
EOF

CREATE TABLE
INSERT 0 25
 some_value | group | group2
------------+-------+--------
          3 | C     | X
          3 | C     | Y
          1 | C     | X
          4 | B     | Y
          3 | A     | X
(5 rows)

**Note** don't forget to stop container after all.

In [14]:
docker stop window_functions_example

window_functions_example

## Values shifting (LAG/LEAD)

You can shift values over the window by using `LAG` functions for shifting down and `LEAD` funtions for shifting up.

---

The following cell demonstrates the application of the `LAG` and `LEAD` functions to our example.

In [10]:
docker exec -i window_functions_example psql -U postgres -d postgres << EOF
SELECT 
    "group",
    LAG("group") OVER () lag_step_1,
    LEAD("group") OVER () lead_step_1,
    LAG("group", 3) OVER () lag_step3,
    LEAD("group", 3) OVER () lag_step3
FROM example_table;
EOF

 group | lag_step_1 | lead_step_1 | lag_step3 | lag_step3
-------+------------+-------------+-----------+-----------
 C     |            | C           |           | B
 C     | C          | C           |           | A
 C     | C          | B           |           | D
 B     | C          | A           | C         | A
 A     | B          | D           | C         | A
 D     | A          | A           | C         | A
 A     | D          | A           | B         | D
 A     | A          | A           | A         | D
 A     | A          | D           | D         | A
 D     | A          | D           | A         | B
 D     | D          | A           | A         | D
 A     | D          | B           | A         | D
 B     | A          | D           | D         | D
 D     | B          | D           | D         | D
 D     | D          | D           | A         | C
 D     | D          | D           | B         | A
 D     | D          | C           | D         | B
 C     | D          | A           | D         | A
 A     | C          | B           | D         | C
 B     | A          | A           | D         | D
 A     | B          | C           | C         | A
 C     | A          | D           | A         | B
 D     | C          | A           | B         |
 A     | D          | B           | A         |
 B     | A          |             | C         |
(25 rows)

The result of applying `LAG` and `LEAD` produces new variables that can be represented as:

- For `LAG`:  $x'_i = x_{i-s}$ 
- For `LEAD`: $x'_i=x_{i+s}$

Where:

-  $i$ position of the row during generaiton.
-  $x_i$ is the original group value at the $i$-th position.
-  $s$ is the step value specified as the second argument of the function.

### Partition by

If you include a `PARTITION BY` clause with the `LAG` window function, it will define groups of values within which the shifting operation will take place.

---

This example demonstrates shifting the `group` values within groups defined by `group2`.

In [13]:
docker exec -i window_functions_example psql -U postgres -d postgres << EOF
SELECT 
    "group", group2,
    LAG("group") OVER (PARTITION BY group2)
FROM example_table;
EOF

 group | group2 | lag
-------+--------+-----
 C     | X      |
 C     | X      | C
 A     | X      | C
 A     | X      | A
 A     | X      | A
 D     | X      | A
 D     | X      | D
 D     | X      | D
 A     | X      | D
 B     | X      | A
 D     | X      | B
 A     | X      | D
 B     | X      | A
 C     | Y      |
 D     | Y      | C
 C     | Y      | D
 D     | Y      | C
 D     | Y      | D
 A     | Y      | D
 B     | Y      | A
 A     | Z      |
 C     | Z      | A
 D     | Z      | C
 B     | Z      | D
 A     | Z      | B
(25 rows)

The result demonstrates that the values were shifted only within their respective groups (windows) defined by `group2`.

## First/last value

The `FIRST_VALUE` and `LAST_VALUE` window functions retrieve the first and last values, respectively, within a partition of a result set.

---

The followin cell shows using `FIRST_VALUE` for `group` and `LAST_VALUE` for `first_group2`.

In [7]:
docker exec -i window_functions_example psql -U postgres -d postgres << EOF
SELECT 
    FIRST_VALUE("group") OVER () first_group,
    LAST_VALUE(group2) OVER () last_group2
FROM example_table;
EOF

 first_group | last_group2
-------------+-------------
 C           | X
 C           | X
 C           | X
 C           | X
 C           | X
 C           | X
 C           | X
 C           | X
 C           | X
 C           | X
 C           | X
 C           | X
 C           | X
 C           | X
 C           | X
 C           | X
 C           | X
 C           | X
 C           | X
 C           | X
 C           | X
 C           | X
 C           | X
 C           | X
 C           | X
(25 rows)

The `FIRST_VALUE` for the `group` is `C` because it was the first value encountered during data generation. Similarly, the `LAST_VALUE` for the `group2` is `X` because it was the last value encountered.

### Order by

By using `ORDER BY` clause you can find value that corresponds to the biggest/lowest value of some other columns.

---

This example demonstrates how to retrieve the first value of the `group` and the last value of the `group2`, both based on the `some_value` axis.

In [13]:
docker exec -i window_functions_example psql -U postgres -d postgres << EOF
SELECT 
    FIRST_VALUE("group") OVER (ORDER BY some_value) group_of_min_some_value,
    LAST_VALUE(group2) OVER (ORDER BY some_value) group_of_max_some_value
FROM (
    VALUES 
    (0, 'M', 'X'),
    (3, 'G', 'Z'),
    (10, 'C', 'Z'),
    (4, 'B', 'Y'),
    (3, 'A', 'X')
)
AS t (some_value, "group", group2);
EOF

 group_of_min_some_value | group_of_max_some_value
-------------------------+-------------------------
 M                       | X
 M                       | X
 M                       | X
 M                       | Y
 M                       | Z
(5 rows)

In this scenario, `M` within the `group` corresponds to the lowest value on the `some_value` axis. Conversely, `Z` represents the highest value on the `some_value` axis within `group2`.