# <DataFrame/Series>.loc

Loc is a way of selecting elements from DataFrames/Series using index/column names.

In the next cell I create the data frame for the experiments.

In [11]:
import pandas as pd
import numpy as np

sample_size = 10

test_df = pd.DataFrame(
    {
        "a":np.random.choice(range(10), sample_size),
        "b":np.random.choice(range(10), sample_size)
    },
    index = [chr(i) for i in range(ord("a"), ord("a")+sample_size)]
)
test_df

   a  b
a  0  9
b  9  8
c  8  8
d  0  9
e  6  6
f  1  8
g  4  0
h  6  7
i  5  3
j  9  7

# Slices

## Basic

You can apply slices by index values.

**Note** Although basic python slices use don't include the last element, pandas slices ignore this rule and will include it.

So the following example just shows it - I've got a slice from `e` to `h` **including h**:

In [13]:
test_df["e":"h"]

   a  b
e  6  6
f  1  8
g  4  0
h  6  7

## Only df order

You should only mention elements in the order in which they appear in the dataframe - there's no ascending rule for slicing.

In the following example I'm trying to apply the same slicing as before to inverted dataframe and got the empty slice because in dataframe's order "h" element is higher than "e".

In [22]:
from IPython.display import HTML

inv_df = test_df.iloc[::-1]
display(HTML("<b>Indersed dataframe</b>"))
display(inv_df)
display(HTML("<b>Slice</b>"))
display(inv_df["e":"h"])

   a  b
j  9  7
i  5  3
h  6  7
g  4  0
f  1  8
e  6  6
d  0  9
c  8  8
b  9  8
a  0  9

Empty DataFrame
Columns: [a, b]
Index: []