# Conditional (CASE)

Source - <a href="https://www.commandprompt.com/education/postgresql-conditional-select-with-examples/">commandprompt.com</a>.


Conditional SELECT allows you to define which values you get for certain cases in data values. In general, you can use something like this inside a `SELECT` block:

```
CASE
WHEN <condition 1> THEN <result 1>
WHEN <condition 2> THEN <result 2>
â€¦
WHEN <condition n> THEN <result n>
ELSE <else result>
END
```

**Note** `ELSE` block is optional.

In [8]:
%%bash
docker run --rm -d\
    -e POSTGRES_PASSWORD=docker_app \
    --name conditional_postgres_exmaples \
    postgres:15.4 &> /dev/null
sleep 5
docker exec -i conditional_postgres_exmaples psql -U postgres -d postgres

CREATE TABLE tab (
    var1 INT,
    var2 INT,
    var3 TEXT
);

INSERT INTO tab (var1, var2, var3) VALUES
(1, 2, 'foo'),
(4, 5, 'bar'),
(2, 3, 'bar');

SELECT * FROM tab;

CREATE TABLE
INSERT 0 3
 var1 | var2 | var3
------+------+------
    1 |    2 | foo
    4 |    5 | bar
    2 |    3 | bar
(3 rows)

In my opinion, the most popular cases for this operation are the categorisation of numerical variables and the replacement of categorical variables. So in the following cell such operations are performed.

In [20]:
%%bash
docker exec -i conditional_postgres_exmaples psql -U postgres -d postgres
SELECT
    CASE
        WHEN var1+var2 > 5 THEN '>5'
        ELSE '<=5'
    END num_to_cat,
    CASE
        WHEN var3='foo' THEN 'new foo'
        WHEN var3='bar' THEN 'new bar'
    END replace
FROM tab;

 num_to_cat | replace
------------+---------
 <=5        | new foo
 >5         | new bar
 <=5        | new bar
(3 rows)

**Note** Don't forget to stop the container when you've finished playing with it.

In [7]:
%%bash
docker stop conditional_postgres_exmaples;

conditional_postgres_exmaples