# Functions

This page is about what operation that you can apply .

The next cell starts the container for the playground database.

In [1]:
docker run --rm -d\
    -e POSTGRES_PASSWORD=docker_app \
    --name aggregation_postgres_exmaples \
    postgres:15.4 &> /dev/null
sleep 5

docker exec -i aggregation_postgres_exmaples psql -U postgres -d postgres << EOF
CREATE TABLE tab (
    var1 TEXT,
    var2 BOOL,
    var3 TEXT
);

INSERT INTO tab (var1, var2, var3) VALUES
('foo', true, 'peter'),
('bar', true, 'alice'),
('bar', false, 'bob'),
('foo', true, 'jamie');

SELECT * FROM tab;
EOF

CREATE TABLE
INSERT 0 4
 var1 | var2 | var3
------+------+-------
 foo  | t    | peter
 bar  | t    | alice
 bar  | f    | bob
 foo  | t    | jamie
(4 rows)

**Note** Don't forget to stop the container when you've finished playing with it.

In [1]:
docker stop aggregation_postgres_exmaples;

aggregation_postgres_exmaples

## Logical operations (BOOL_OR, BOOL_AND)

Sometimes you need to find out if all values of a boolean variable by group are true. For such cases you can use `boot_and` aggregation function. Also there is function `bool_or` if you need to get if any value by group is true.

The following example shows how to use these functions.

In [6]:
docker exec -i aggregation_postgres_exmaples psql -U postgres << EOF
SELECT
    bool_and(var2),
    bool_or(var2)
FROM tab;
EOF

 bool_and | bool_or
----------+---------
 f        | t
(1 row)

## Strings concatenations

Suppose you need to concatenate all the values of a text variable into groups. For this purpose there is an argregation function `string_agg(<column for concatenation>, <separator>)`. The result will be all values by group in one line, separated by a separator.

We list the values of variable `val2` that occur in different groups of variable `val1` separated by commas:

In [3]:
%%bash
docker exec -i aggregation_postgres_exmaples psql -U postgres -d postgres
SELECT 
    string_agg(var3, ', ')
FROM tab
GROUP BY var1;

  string_agg
--------------
 alice, bob
 peter, jamie
(2 rows)