# Aggregation (GROUP BY)

This page is about aggregations in sql.

The next cell starts the container for the playground database.

In [2]:
%%bash
docker run --rm -d\
    -e POSTGRES_PASSWORD=docker_app \
    --name aggregation_postgres_exmaples \
    postgres:15.4 &> /dev/null
sleep 5
docker exec -i aggregation_postgres_exmaples psql -U postgres -d postgres

CREATE TABLE tab (
    var1 TEXT,
    var2 TEXT
);

INSERT INTO tab (var1, var2) VALUES
('foo', 'peter'),
('bar', 'alice'),
('bar', 'bob'),
('foo', 'jamie');

SELECT * FROM tab;

CREATE TABLE
INSERT 0 4
 var1 | var2
------+-------
 foo  | peter
 bar  | alice
 bar  | bob
 foo  | jamie
(4 rows)

**Note** Don't forget to stop the container when you've finished playing with it.

In [1]:
%%bash
docker stop aggregation_postgres_exmaples;

aggregation_postgres_exmaples

## Strings concatenations

Suppose you need to concatenate all the values of a text variable into groups. For this purpose there is an argregation function `string_agg(<column for concatenation>, <separator>)`. The result will be all values by group in one line, separated by a separator.

We list the values of variable `val2` that occur in different groups of variable `val1` separated by commas:

In [3]:
%%bash
docker exec -i aggregation_postgres_exmaples psql -U postgres -d postgres
SELECT 
    string_agg(var2, ', ')
FROM tab
GROUP BY var1;

  string_agg
--------------
 alice, bob
 peter, jamie
(2 rows)