# Combining frames

Sometimes there are situations where it is useful to create a data frame that contains all possible combinations of input rows and their corresponding columns concatenated.

## Example

Imagine you have a task that involves applying a statistical model to evaluate the performance of different games for each user in a game service. To accomplish this, you need to examine all possible combinations of users and games to determine the best game for each user. In the cell below, we have created example tables for both users and games to illustrate this scenario.

In [21]:
import pandas as pd
from IPython.display import HTML 

user = pd.DataFrame({
    "user_name" : ["Fedor", "Sandra", "Mark"],
    "sex" : ["m", "w", "m"],
    "age" : [10, 23, 7]
})
game = pd.DataFrame({
    "game_name" : ["warcraft", "conter-strike", "valorant"],
    "genre" : ["rpg", "shooter", "shooter"]
})

display(HTML("<p style='font-size:15px'>Users</p>"))
display(user)
display(HTML("<p style='font-size:15px'>Games</p>"))
display(game)

  user_name sex  age
0     Fedor   m   10
1    Sandra   w   23
2      Mark   m    7

       game_name    genre
0       warcraft      rpg
1  conter-strike  shooter
2       valorant  shooter

## Solution

You can just use `pandas.Merge` function for getting all possble combinations. But you have to specify column that should be used as a key for merge. You can just specify same key for all records of both tables and specify it on the `on` argument of the `pandas.Merge`. So the realisation is showen below.

In [23]:
user["key"]=1;game["key"]=1
pd.merge(user, game, on="key").drop("key", axis = 1)

  user_name sex  age      game_name    genre
0     Fedor   m   10       warcraft      rpg
1     Fedor   m   10  conter-strike  shooter
2     Fedor   m   10       valorant  shooter
3    Sandra   w   23       warcraft      rpg
4    Sandra   w   23  conter-strike  shooter
5    Sandra   w   23       valorant  shooter
6      Mark   m    7       warcraft      rpg
7      Mark   m    7  conter-strike  shooter
8      Mark   m    7       valorant  shooter

As the result `Fedor` have maches with all games. And any other user have matches with all games.