# NULL conditions (IS (NOT) NULL)

It's a really common task to find records with empty values, or vice versa, to find records where all the information is available.

In the next cell, I create everything I need for the examples in this page.

In [1]:
%%bash
docker run --rm -d\
    -e POSTGRES_PASSWORD=postgres \
    --name null_conditions_example \
    postgres:15.4 &> /dev/null
sleep 5
docker exec -i null_conditions_example psql -U postgres -d postgres

CREATE TABLE table_with_nulls(
    col1 TEXT,
    col2 INT
);
INSERT INTO table_with_nulls(col1, col2) VALUES
('A', NULL),
('A', 1),
('A', 2),
(NULL, 1),
('C', 3),
(NULL, 4);

CREATE TABLE
INSERT 0 6

In the next cell, I'll show the table I'm going to use as an example.

**Note** `psql` show `NULL` values just as empty places.

In [4]:
%%bash
docker exec -i null_conditions_example psql -U postgres -d postgres
SELECT col1, col2 FROM table_with_nulls;

 col1 | col2
------+------
 A    |
 A    |    1
 A    |    2
      |    1
 C    |    3
      |    4
(6 rows)

**Note** don't forget to stop the container when you finish playing with examples.

In [7]:
!docker stop null_conditions_example &> /dev/null

## `IS NULL`

By using `<column name> IS NULL` in the `WHERE` block, you can select records with empty values in a particular column.

In the following example I `SELECT` only values with `NULL` values in `col1`.

In [5]:
%%bash
docker exec -i null_conditions_example psql -U postgres -d postgres
SELECT col1, col2 
FROM table_with_nulls
WHERE col1 IS NULL;

 col1 | col2
------+------
      |    1
      |    4
(2 rows)

## `IS NOT NULL`

By using `<column name> IS NOT NULL` in the `WHERE` block, you can select records with filled values in a particular column.

In the following example I `SELECT` only values that hase something in `col1`.

In [6]:
%%bash
docker exec -i null_conditions_example psql -U postgres -d postgres
SELECT col1, col2
FROM table_with_nulls
WHERE col1 IS NOT NULL;

 col1 | col2
------+------
 A    |
 A    |    1
 A    |    2
 C    |    3
(4 rows)