# Conditions in aggregats (FILTER)

You may need to perform aggregation only on records that meet certain conditions.

In the next cell, I create everything I need for the examples in this page.

In [3]:
%%bash
docker run --rm -d\
    -e POSTGRES_PASSWORD=postgres \
    --name cond_in_agregats_example \
    postgres:15.4 &> /dev/null
sleep 5
docker exec -i cond_in_agregats_example psql -U postgres -d postgres

CREATE TABLE aggregation_table(
    col1 TEXT,
    col2 INT
);
INSERT INTO aggregation_table(col1, col2) VALUES
('A', 1),
('A', 2),
('A', 1),
('B', 2),
('B', 1),
('B', 2);
SELECT * FROM aggregation_table;

CREATE TABLE
INSERT 0 6
 col1 | col2
------+------
 A    |    1
 A    |    2
 A    |    1
 B    |    2
 B    |    1
 B    |    2
(6 rows)

**Note** don't forget to stop the container when you finish playing with examples.

In [2]:
%%bash
docker stop cond_in_agregats_example

cond_in_agregats_example

Let's say that for each unique value in column `col2`, we need to create a column that indicates how many times that value corresponds to groups in column `col1`.

To complete it, you need to group by `col1` and apply `COUNT` to `col2`, but for `COUNT` you need to use only those records that correspond to specific value of `col2`. Such an operation can be performed using the syntax `COUNT(col1) FILTER (WHERE col2=<specified value>)`.

So in the following cell, the task is completed.

In [8]:
%%bash
docker exec -i cond_in_agregats_example psql -U postgres -d postgres
SELECT
    col1,
    COUNT(col2) FILTER (WHERE col2=1) "col2=1",
    COUNT(col2) FILTER (WHERE col2=2) "col2=2"
FROM aggregation_table
GROUP BY col1

 col1 | col2=1 | col2=2
------+--------+--------
 B    |      1 |      2
 A    |      2 |      1
(2 rows)