# JSON data type

By defining a column of type `JSONB`, you can use JSON objects in your SQL tables. There are special tools that allow you to work with such columns in a dictionary-style way.

In the following cell, postgres containers have been used for examples.

In [ ]:
%%bash
docker run --rm -d\
    -e POSTGRES_PASSWORD=postgres \
    --name using_json_datatype \
    postgres:15.4 &> /dev/null
sleep 5

**Note** Don't forget to stop the container when you have finished playing with the examples.

In [ ]:
%%bash
docker stop using_json_datatype

## Defining such column

In the following cell I define the `data` column in `example_table` as a `JSONB` datatype. To populate it, just pass string literals containing json-style rows.

In [14]:
%%bash
docker exec -i using_json_datatype psql -U postgres -d postgres

CREATE TABLE example_table (
    id INT PRIMARY KEY,
    data JSONB
);

INSERT INTO example_table (
    id, data
)
VALUES
    (1, '{"A": 0, "B": 0}'),
    (2, '{"A": 100}'),
    (3, '{"B": -50}'),
    (4, '{"A": 50}'),
    (5, '{"B": -30}'),
    (6, '{"B": 100}'),
    (7, '{"B" : 90, "A": -50}')
;

CREATE TABLE
INSERT 0 7

In the following cell displayed how JSON type cell will be displayed in the results of the simple query.

In [9]:
%%bash
docker exec using_json_datatype\
    psql -U postgres -d postgres -c "SELECT * FROM example_table;"

 id |        data
----+---------------------
  1 | {"A": 0, "B": 0}
  2 | {"A": 100}
  3 | {"B": -50}
  4 | {"A": 50}
  5 | {"B": -30}
  6 | {"B": 100}
  7 | {"A": -50, "B": 90}
(7 rows)

## Extracting values

You can access values by key from a JSON type column using the syntax `<column name>-><key name>`. 

So in the following cell, a query has been executed that extracts values under the key 'A' from each record.

In [20]:
%%bash
docker exec -i using_json_datatype psql -U postgres -d postgres
SELECT id, data, data->'A' FROM example_table;

 id |        data         | ?column?
----+---------------------+----------
  1 | {"A": 0, "B": 0}    | 0
  2 | {"A": 100}          | 100
  3 | {"B": -50}          |
  4 | {"A": 50}           | 50
  5 | {"B": -30}          |
  6 | {"B": 100}          |
  7 | {"A": -50, "B": 90} | -50
(7 rows)

You can access the values by clicking on them and then operate on them as you would any other column.