# Metrics

Here are common metrics that have been designed or adapted specifically for recommendation systems.

In [1]:
import numpy as np
import pandas as pd

from IPython.display import HTML
from sklearn.datasets import make_blobs

from surprise.prediction_algorithms.slope_one import SlopeOne
from surprise.model_selection import cross_validate
from surprise.dataset import Dataset
from surprise.reader import Reader
from surprise.prediction_algorithms.knns import KNNBasic

**Sources**

- Article on TSD <a href="https://towardsdatascience.com/evaluation-metrics-for-recommendation-systems-an-overview-71290690ecba">Evaluation Metrics for Recommendation Systems — An Overview</a>;

## Example creating

For this page we will need task and also model that we will use as examples.

### Task

The following cell has generated a taskt that we will use as an example.  It is generated in the format `<user/item> <-> rating`. 

All the sources I checked describe how to estimate the performance of the models in the case of binary output, where there are "relevant" and "non-relevant". Despite the fact that in life often occur and I have met with tasks where the pair user/item put in correlation to non-binary values (ratings or even preferences expressed in spent money), for simplicity in the beginning let's consider the classical variant.

In [2]:
r_width = 10
r_height = 30
np.random.seed(10)

R, c = make_blobs(
    n_samples=r_height,
    n_features=r_width,
    centers=3,
    random_state=10
)
R = np.round((R-R.min())/(R.max()-R.min())).astype(int)

# genrating combinations of object/item to be empty
combination_counts = 20
nan_combinations = np.concatenate(
    [
        np.random.randint(0, R.shape[0], [combination_counts,1]),
        np.random.randint(0, R.shape[1], [combination_counts,1])
    ],
    axis=1
)

# replacing some combinations with emptys
R = R.astype("float32")
for comb in nan_combinations:
    R[tuple(comb)] = np.NaN

R_frame = pd.Series(
    R.ravel(),
    index = pd.MultiIndex.from_tuples(
            [
                (j,i) 
                for j in np.arange(R.shape[1]) 
                for i in np.arange(R.shape[0])
            ],
            names = ["object", "item"]
    ),
    name = "relevant"
).reset_index()

R_frame.sample(10)

     object  item  relevant
148       4    28       0.0
147       4    27       1.0
154       5     4       NaN
8         0     8       1.0
105       3    15       1.0
24        0    24       0.0
125       4     5       0.0
276       9     6       0.0
130       4    10       1.0
226       7    16       0.0

### Models

We need some algorithms result to compute metrics for them. So here I use some basic approaches from the `surprise` library to build some solutions. We will then compare metrics between them and learn why this or that approach is better.

In [19]:
reader = Reader(rating_scale=(0,1))
surp_dataset = Dataset.load_from_df(
    R_frame[["object", "item", 'relevant']], 
    reader
)

model = KNNBasic(k=25,verbose=False)
model = model.fit(surp_dataset.build_full_trainset())
R_frame["model1_results"] = R_frame[["object", "item"]].apply(
    lambda row: model.predict(
        row["object"], row["item"]
    ).est, 
    axis = 1
)

model = KNNBasic(k=5, verbose=False)
model.fit(surp_dataset.build_full_trainset())
R_frame["model2_results"] = R_frame[["object", "item"]].apply(
    lambda row: model.predict(
        row["object"], row["item"]
    ).est, 
    axis = 1
)

## recall@k

Recall@K gives a measure of how many of the relevant items are present in top K out of all the relevant items, where K is the number of recommendations generated for a user.

In [5]:
R_frame

     object  item  relevant  model1_results  model2_results
0         0     0       1.0             1.0             1.0
1         0     1       1.0             1.0             1.0
2         0     2       0.0             0.0             1.0
3         0     3       1.0             1.0             1.0
4         0     4       1.0             1.0             1.0
..      ...   ...       ...             ...             ...
295       9    25       0.0             0.0             1.0
296       9    26       NaN             1.0             1.0
297       9    27       1.0             1.0             1.0
298       9    28       1.0             1.0             1.0
299       9    29       1.0             1.0             1.0

[300 rows x 5 columns]