# Basic data types

This page is dedicated to describing the operation of the basic data types: their properties, methods and features.

# `List`

Is an array that you can change at runtime.

## `pop` - delete by index

You can delete element by index and get it back.

In [1]:
test_list = [3,4,5,2]
print("Poped element", test_list.pop(2))
print("Result list", test_list)

Poped element 5
Result list [3, 4, 2]

By default it deltes the first element.

In [2]:
test_list = [5,6,4,3]
print("Poped elemnt", test_list.pop())
print("Result list", test_list)

Poped elemnt 3
Result list [5, 6, 4]

## `remove` - delete by value

You can delete element by value.

In [3]:
test_list = [4,5,4,5]
print("initial list", test_list)
test_list.remove(4)
print("resutl list", test_list)

initial list [4, 5, 4, 5]
resutl list [5, 4, 5]

**Note** that if there's no removing value in the source list, you'll have an error.

In [4]:
test_list = [5,3,4,1]
test_list.remove(6)

ValueError: list.remove(x): x not in list

# `tuple`

Is an array that can't be changed at runtime.

## One element tuple

To create one element tuple you have to use the syntax `(<element>,)` not <del>`(<element>)`</del>. By default, parentheses are not used to create a tuple, but to prioritise executions in the expression, so you have to use at least one comma inside the parentheses to tell the interpreter that it is the tuple.

In [5]:
print("Just a variable", (4))
print("One element tuple", (5,))

Just a variable 4
One element tuple (5,)

# `Set`

Array of unique values. You can create it by using `{<element1>, <element2>, ..., <elementn>}` or `tuple` function.

In the following example, I show that it can contain only unique elements. Although element 2 is specified twice, it appears only once as a result.

In [6]:
{1,2,3,4,2}

{1, 2, 3, 4}

## Empty set

To create an empty set you should:

- Use the `set` function without arguments;
- Do **not** use empty curly brackets, it will create empty `dict` not `set`;
- Do **not** use curly curly brackets with a comma (lite it works for `tuple`), it will cause an error.

The following cell shows that curly brackets alone create a `tuple` but not a `set`. And the `set()` expression will in turn create an instance of `set`.

In [3]:
print(type({}))
print(type(set()))

<class 'dict'>
<class 'set'>

The following cell shows that using braces with a comma is an error.

In [5]:
{,}

SyntaxError: invalid syntax (3645013520.py, line 1)

Interestingly, applying the print function to an empty set results in `set()` output.

In [9]:
print(set())

set()

## No order

One of the main features of the set datatype is that it doesn't have any order. This has important implications:

- You can't apply indexing syntax (the `[]` operator) to sets;
- There are no functions associated with indexing (e.g. `pop` in the list datatype).

## Only immutable

In sets, you can only use immutable datatypes. The following cells show that if you add a mutable type to a tuple (e.g. list), you will get an error.

In [19]:
{1,"1", 9.4, (1,3,4)}

{(1, 3, 4), '1', 1, 9.4}

In [20]:
{1,"1", 9.4, (1,3,4), [3,4,5]}

TypeError: unhashable type: 'list'

## `add` new value

In [7]:
test_set = {1,2,3}
print("initital set", test_set)
test_set.add("s")
print("result set", test_set)

initital set {1, 2, 3}
result set {1, 2, 3, 's'}

**Note** that adding an element that already exists in the set won't cause an error, it will simply be ignored.

In [8]:
test_set = {1,2,3,4}
print("initial set", test_set)
test_set.add(3)
print("restult set", test_set)

initial set {1, 2, 3, 4}
restult set {1, 2, 3, 4}

## `remove` delete by value

You can delete element by value.

In [13]:
test_set = {1,2,3,4,5}
print("initial list", test_set)
test_set.remove(4)
print("resutl list", test_set)

initial list {1, 2, 3, 4, 5}
resutl list {1, 2, 3, 5}

**Note** that if there's no removing value in the source list, you'll have an error.

In [15]:
test_set = {5,3,4,1}
test_set.remove(6)

KeyError: 6

## `intercection`

This method allows you to get a set that contains only common elements for argument sets.

In [22]:
test_set1 = {1,2,3}
test_set2 = {2,3,4}
test_set1.intersection(test_set2)

{2, 3}

## `union`

This method allows you to get a set that contains all elements from both argument sets.

In [23]:
test_set1 = {1,2,3}
test_set2 = {2,3,4}
test_set1.union(test_set2)

{1, 2, 3, 4}

## `symmetric_difference`

This method allows you to get a set that contains elements that are present in only one of the argument sets, but not in both.

In [27]:
test_set1 = {1,2,3}
test_set2 = {2,3,4}
test_set1.symmetric_difference(test_set2)

{1, 4}

## Sets difference `A-B`

In case you subtract set A from set B you get a set of elements from the set not contained in set B.

In [28]:
test_set1 = {1,2,3}
test_set2 = {2,3,4}
test_set1 - test_set2

{1}

# `frozenset`

`set` in Python is a mutable data type, so you cannot use it in many cases (e.g. as a key for `dict` or as an element of another `set`). To fix this, Python provides a special data type `frozenset` which is like `set` but immutable.

So in the following example I try to use `frozenset` and `set` as elements of another `set`:

- With `frozenset` all is well;
- Regular `set` causes an error.

In [17]:
regular_set = {1,3}
frozen_set = frozenset([1,2,3,4])

print("Using a frozenset:", {1,2,3, frozen_set})
print("Using a regular set:", {1, 2, 3, regular_set, 1})

Using a frozenset: {1, 2, 3, frozenset({1, 2, 3, 4})}

TypeError: unhashable type: 'set'

# `dict`

Allow to build arrays that has *key<->value* relationship.

## `get` extract element

By using this function you can get value by key from the dict.

### Purpose

It may not be clear why this is necessary, as there is a `[]` operator which allows you to perform exactly the same actions. The **difference from the `[]` operator** is that it doesn't cause an error if there is no specified key in the dictionary.

So the following cells show that the `[]` operator caused an error when you tried to load a non-existent key, but in the identical example the `get` method just returned None.

In [36]:
test_dict = {"a":1, "b":2}
print(test_dict["c"])

KeyError: 'c'

In [35]:
test_dict = {"a":1, "b":2}
print(test_dict.get("c"))

None

### `default` argument

Allows to set value to be returned If there is no item with the requested key.

In [40]:
test_dict = {"a":1, "b":2}
print(test_dict.get("c", "default value"))

default value

## `in` operator

Checks if the element on the left side of `in` is **in the keys** (not values) of the dictionary on the right side of `in`.

In [44]:
test_dict = {"a":1, "b":2}
print("a" in test_dict)
print(1 in test_dict)

True
False