# Operators

On this page I'll describe some details about operators in Python.

# `/` - division operator

It always returns the data type `float`, even if the result can be interpreted as `int`.

In [9]:
type(4/2)

float

# `//` - integer division

This operator simply divides the operands and returns the result without the floating point part.

In [1]:
5//2

2

Unlike regular division, it always returns `int` data type.

In [8]:
print(type(6/2))
print(type(6//2))

int

**Note** that the rounding is always on the lower side. So if we apply this operator to the negative number, we get the lower number that is the result of the even division.

In [2]:
-5//2

-3

# `in` - is in array

This keyword allows you to check an element in an array.

## list

In [12]:
test_list = [1,2,3,4,5] 
print(5 in test_list)
print(6 in test_list)

True
False

## tuple

In [13]:
test_tuple = (1,2,3,4,5)
print(5 in test_tuple)
print(6 in test_tuple)

True
False

## str

In [15]:
test_str = "this is the test str contains subline to check it"

print("subline" in test_str)
print("subliner" in test_str)

True
False

## dict

Checks if the element on the left side of `in` is **in the keys** (not values) of the dictionary on the right side of `in`.

In [1]:
test_dict = {"a":1, "b":2}
print("a" in test_dict)
print(1 in test_dict)

True
False

# `not in`

This operator returns `True` if the collection from the right side of the operator contains the value from the left side of the operator, otherwise it returns `False`.

Looks like it's syntax sugar, because now I don't see any cases where it differs from the expression `not (<value> in <collection>)`. The following example supports this idea.

In [9]:
example_collection = ["a", "b", "c"]

print(not ("a" in example_collection)) 
print("a" not in example_collection)

False
False

# Order

Here I'll show features related to the order of execution of expressions with different combinations of operators.

Somewhere on the internet I found such a picture describing the order of execution for Python operators.

<img src="operators_files/operators_order.jpg">

The top operators are executed first, regardless of where they appear in the expression. Operators at the same level will be executed in the sequence as they are specified in the expression according to the rule specified in the "Associativity" column.

## Easy examples

Now some simple examples that demonstrate how to use the proposed table in practice.

### Operator sequence

The following example show that `**` will be executed before `*` anyway. Calculation always follows the way $4^2=16 \rightarrow 16*2 = 32$ and never $2*4=8 \rightarrow 8^2=64$.

In [23]:
print(2*4**2)
print(4**2*2)

32

### Associativity

As mentioned for the operators `/` and `*`, they are executed from left to right. So the following example will use logic $3/3=1 \rightarrow 1*2=2$, not $3*2=6 \rightarrow 3/6=0.5$.

In [19]:
3/3*2

2.0

One more example shows how associativity rool changes the result with exactly same operands.

- In first case it uses logic $3/3=1 \rightarrow [1/3]=1$;
- In second case it uses logic $[3/3]=0 \rightarrow 0/3=0$.

In [24]:
print(3/3%3)
print(3%3/3)

1.0
0.0

# `break`

Lets you exit the cycle.

## Nested loops

What will happens if you put cycle incide two cycles? Will it leave both cycles or just the internal one?

**It will leave only intertal loop.**

So in the following example we will use the `break` operator inside the internal cycle only if we loop to a variable of the internal cycle that is equal to or greater than 2. As a result, we go through all the operations provided by the outer loop, but each interation of the internal loop is ended when the loop variable enriches 2.

In [3]:
for i in range(4):
    print("external loop", i)
    for j in range(4):
        if j >= 2:
            break
        print("    internal loop", j)

external loop 0
    internal loop 0
    internal loop 1
external loop 1
    internal loop 0
    internal loop 1
external loop 2
    internal loop 0
    internal loop 1
external loop 3
    internal loop 0
    internal loop 1