# Ranx

[Ranx](https://pypi.org/project/ranx/) is python library that implements tools for estimating performance of the recomendational systems.

In [1]:
import pandas as pd
from ranx import Qrels, Run, evaluate

In [38]:
toy_frame = pd.DataFrame({
    "query" : ["x","x","x","y","y","y"],
    "document" : ["a","b","c","a","b","c"],
    "rank" : [1,2,3,3,2,1],
    "model1" : pd.Series([1,0.3,0.2,0.2,0.3,1]).astype("float"),
    "model2" : pd.Series([0.3,1,0.5,1,0.1,0.4]).astype("float")
})
display(toy_frame)

  query document  rank  model1  model2
0     x        a     1     1.0     0.3
1     x        b     2     0.3     1.0
2     x        c     3     0.2     0.5
3     y        a     3     0.2     1.0
4     y        b     2     0.3     0.1
5     y        c     1     1.0     0.4

In [39]:
qrels = Qrels.from_df(
    toy_frame,
    q_id_col="query",
    doc_id_col="document",
    score_col="rank"
)

In [40]:
run1 = Run.from_df(
    toy_frame, 
    q_id_col="query",
    doc_id_col="document",
    score_col="model1"
)

In [41]:
run2 = Run.from_df(
    toy_frame, 
    q_id_col="query",
    doc_id_col="document",
    score_col="model2"
)

In [42]:
evaluate(qrels, run1, "recall@1")

0.6666666666666666

In [44]:
evaluate(qrels, run2, "recall@1")

0.3333333333333333

In [27]:
qrels_dict = { "q_1": { "d_12": 5, "d_25": 3 },
               "q_2": { "d_11": 6, "d_22": 1 } }

run_dict = { "q_1": { "d_12": 0.9, "d_23": 0.8, "d_25": 0.7,
                      "d_36": 0.6, "d_32": 0.5, "d_35": 0.4  },
             "q_2": { "d_12": 0.9, "d_11": 0.8, "d_25": 0.7,
                      "d_36": 0.6, "d_22": 0.5, "d_35": 0.4  } }

evaluate(
    Qrels(qrels_dict), 
    Run(run_dict), 
    "recall@2"
)

0.5

In [36]:
qrels_dict = { "q_1": { "d_12": 5, "d_25": 3 },
               "q_2": { "d_11": 6, "d_22": 1 } }

run_dict = { "q_1": { "d_12": 0.9, "d_23": 0.8, "d_25": 0.7,
                      "d_36": 0.6, "d_32": 0.5, "d_35": 0.4  },
             "q_2": { "d_12": 0.9, "d_11": 0.8, "d_25": 0.7,
                      "d_36": 0.6, "d_22": 0.5, "d_35": 0.5  } }

evaluate(
    Qrels(qrels_dict), 
    Run(run_dict), 
    "precision@5"
)

0.4