# Basic data types

This page is dedicated to describing the operation of the basic data types: their properties, methods and features.

# `List`

Is an array that you can change at runtime.

## `pop` - delete by index

You can delete element by index and get it back.

In [1]:
test_list = [3,4,5,2]
print("Poped element", test_list.pop(2))
print("Result list", test_list)

Poped element 5
Result list [3, 4, 2]

By default it deltes the first element.

In [2]:
test_list = [5,6,4,3]
print("Poped elemnt", test_list.pop())
print("Result list", test_list)

Poped elemnt 3
Result list [5, 6, 4]

## `remove` - delete by value

You can delete element by value.

In [3]:
test_list = [4,5,4,5]
print("initial list", test_list)
test_list.remove(4)
print("resutl list", test_list)

initial list [4, 5, 4, 5]
resutl list [5, 4, 5]

**Note** that if there's no removing value in the source list, you'll have an error.

In [4]:
test_list = [5,3,4,1]
test_list.remove(6)

ValueError: list.remove(x): x not in list

## `index` - index of value

Using this method you can get the index by which you can get the first occurrence of this element in the list.

In the following example I ask `.index(3)` and got 2 as a result because the first occurrence of number 3 in the 2 index.

**Note** any other entry of the element will be ignored, just like the second 3 value with 4 index in the example.

In [17]:
test_list = [1,2,3,4,3,5]
test_list.index(3)

2

## `appned` vs `+`

There are two common ways to extend a Python list: by using the `append` method and the `+` operator. There is a significant difference: `+` creates a new list and copies operands to it, but `append` changes the initial list.

The following example:

- Prints "Initial list: <id>";
- Prints id of list modified with `+` operator - it has different id with initial list;
- Prints the id of the list modified with the `append` method - it has the same id as the initial list.

In [12]:
internal_list = [1,2,3,4,5]
print("Initial list:", id(internal_list))
print("Plus list:", id(internal_list + [3]))
internal_list.append(3)
print("Append list:", id(internal_list))

Initial list: 139801266528704
Plus list: 139801266465856
Append list: 139801266528704

## drop duplicates

### `list(set(<input>))`

The easiest way is to convert the input list to `set` and then back to `list`. `set` can't have duplicates, so they're dropped.

**Note** this option does not save the original order of the items in the list, because the `set' data type ignores the order of the items.

The following example allows you to obtain unique values, but despite the fact that the elements in the original list are not in ascending order, they are in the result of the transformation.

In [15]:
test_list = [1,4,4,2,2,3,3]
list(set(test_list))

[1, 2, 3, 4]

### Saving the order

It is possible to loop through the elements of the transformed list and check if the result of the `item` method for the selected element corresponds to the iteration number:

- If the iteration number and the result of the `item` method match, it means that this is the first occurrence of this element and it should be included in the result;
- Otherwise, it means that this item has already been included in the result earlier and it should not be added to the result.

The following cell shows a possible implementation of the described algorithm. As a result, 4 appears immediately after 1, as in the original list.

In [18]:
test_list = [1,4,4,2,2,3,3]
[val for i, val in enumerate(test_list) if test_list.index(val) == i]

[1, 4, 2, 3]

# `tuple`

Is an array that can't be changed at runtime.

## One element tuple

To create one element tuple you have to use the syntax `(<element>,)` not <del>`(<element>)`</del>. By default, parentheses are not used to create a tuple, but to prioritise executions in the expression, so you have to use at least one comma inside the parentheses to tell the interpreter that it is the tuple.

In [5]:
print("Just a variable", (4))
print("One element tuple", (5,))

Just a variable 4
One element tuple (5,)

# `Set`

Array of unique values. You can create it by using `{<element1>, <element2>, ..., <elementn>}` or `tuple` function.

In the following example, I show that it can contain only unique elements. Although element 2 is specified twice, it appears only once as a result.

In [6]:
{1,2,3,4,2}

{1, 2, 3, 4}

## Empty set

To create an empty set you should:

- Use the `set` function without arguments;
- Do **not** use empty curly brackets, it will create empty `dict` not `set`;
- Do **not** use curly curly brackets with a comma (lite it works for `tuple`), it will cause an error.

The following cell shows that curly brackets alone create a `tuple` but not a `set`. And the `set()` expression will in turn create an instance of `set`.

In [3]:
print(type({}))
print(type(set()))

<class 'dict'>
<class 'set'>

The following cell shows that using braces with a comma is an error.

In [5]:
{,}

SyntaxError: invalid syntax (3645013520.py, line 1)

Interestingly, applying the print function to an empty set results in `set()` output.

In [9]:
print(set())

set()

## No order

One of the main features of the set datatype is that it doesn't have any order. This has important implications:

- You can't apply indexing syntax (the `[]` operator) to sets;
- There are no functions associated with indexing (e.g. `pop` in the list datatype).

## Only immutable

In sets, you can only use immutable datatypes. The following cells show that if you add a mutable type to a tuple (e.g. list), you will get an error.

In [19]:
{1,"1", 9.4, (1,3,4)}

{(1, 3, 4), '1', 1, 9.4}

In [20]:
{1,"1", 9.4, (1,3,4), [3,4,5]}

TypeError: unhashable type: 'list'

## `add` new value

In [7]:
test_set = {1,2,3}
print("initital set", test_set)
test_set.add("s")
print("result set", test_set)

initital set {1, 2, 3}
result set {1, 2, 3, 's'}

**Note** that adding an element that already exists in the set won't cause an error, it will simply be ignored.

In [8]:
test_set = {1,2,3,4}
print("initial set", test_set)
test_set.add(3)
print("restult set", test_set)

initial set {1, 2, 3, 4}
restult set {1, 2, 3, 4}

## `remove` delete by value

You can delete element by value.

In [13]:
test_set = {1,2,3,4,5}
print("initial list", test_set)
test_set.remove(4)
print("resutl list", test_set)

initial list {1, 2, 3, 4, 5}
resutl list {1, 2, 3, 5}

**Note** that if there's no removing value in the source list, you'll have an error.

In [15]:
test_set = {5,3,4,1}
test_set.remove(6)

KeyError: 6

## `intercection`

This method allows you to get a set that contains only common elements for argument sets.

In [22]:
test_set1 = {1,2,3}
test_set2 = {2,3,4}
test_set1.intersection(test_set2)

{2, 3}

## `union`

This method allows you to get a set that contains all elements from both argument sets.

In [23]:
test_set1 = {1,2,3}
test_set2 = {2,3,4}
test_set1.union(test_set2)

{1, 2, 3, 4}

## `symmetric_difference`

This method allows you to get a set that contains elements that are present in only one of the argument sets, but not in both.

In [27]:
test_set1 = {1,2,3}
test_set2 = {2,3,4}
test_set1.symmetric_difference(test_set2)

{1, 4}

## Sets difference `A-B`

In case you subtract set A from set B you get a set of elements from the set not contained in set B.

In [28]:
test_set1 = {1,2,3}
test_set2 = {2,3,4}
test_set1 - test_set2

{1}

# `frozenset`

`set` in Python is a mutable data type, so you cannot use it in many cases (e.g. as a key for `dict` or as an element of another `set`). To fix this, Python provides a special data type `frozenset` which is like `set` but immutable.

So in the following example I try to use `frozenset` and `set` as elements of another `set`:

- With `frozenset` all is well;
- Regular `set` causes an error.

In [17]:
regular_set = {1,3}
frozen_set = frozenset([1,2,3,4])

print("Using a frozenset:", {1,2,3, frozen_set})
print("Using a regular set:", {1, 2, 3, regular_set, 1})

Using a frozenset: {1, 2, 3, frozenset({1, 2, 3, 4})}

TypeError: unhashable type: 'set'

# `dict`

Allow to build arrays that has *key<->value* relationship.

## `get` extract element

By using this function you can get value by key from the dict.

### Purpose

It may not be clear why this is necessary, as there is a `[]` operator which allows you to perform exactly the same actions. The **difference from the `[]` operator** is that it doesn't cause an error if there is no specified key in the dictionary.

So the following cells show that the `[]` operator caused an error when you tried to load a non-existent key, but in the identical example the `get` method just returned None.

In [36]:
test_dict = {"a":1, "b":2}
print(test_dict["c"])

KeyError: 'c'

In [35]:
test_dict = {"a":1, "b":2}
print(test_dict.get("c"))

None

### `default` argument

Allows to set value to be returned If there is no item with the requested key.

In [40]:
test_dict = {"a":1, "b":2}
print(test_dict.get("c", "default value"))

default value

## Delete specific item

### `del` operator

You can simply apply the `del` operator to the specific element. As in the following example:

In [6]:
test_dict = {"a":1, "b":2}
del test_dict["a"]
print(test_dict)

{'b': 2}

**Note** If there is no item in the `dict` that you want to delete in this way, you will get the error. The next cell shows exactly this case:

In [7]:
test_dict = {"a":1, "b":2}
del test_dict["c"]
print(test_dict)

KeyError: 'c'

### `pop` method

It will remove element by key passed as an argument to this method and return value as a result of the function. The following example shows how it works:

- In the first print we show the result of the `pop` method;
- In the second part, we'll show that the dictionary no longer has an element with the key "a".

In [11]:
test_dict = {"a":1, "b":2}
print(test_dict.pop("a"))
print(test_dict)

1
{'b': 2}

**Note** this method will still cause an error if you apply it to a key that doesn't exist in the dictionary.

In [12]:
test_dict = {"a":1, "b":2}
test_dict.pop("C")

KeyError: 'C'

## `clear` delete all

This method allows you to delete all the values written in the dictionary. The following example shows what it can look like.

In [2]:
test_dict = {"a":1, "b":2}
test_dict.clear()
print(test_dict)

{}

## `in` operator

Checks if the element on the left side of `in` is **in the keys** (not values) of the dictionary on the right side of `in`.

In [44]:
test_dict = {"a":1, "b":2}
print("a" in test_dict)
print(1 in test_dict)

True
False

# `str`

This data type describes the variables in which you want to store the text information.

## `istitle` - is first capital

Lets you check if all words in the calling string are capitalised.

The following example shows how it works for

- Lower case only;
- One capitalised word;
- Line with several capitalised words;
- Line with several words but only the first one is capitalised.

In [9]:
test_lines =[
    "test line",
    "Test",
    "Test Line",
    "Test line"
]

for test_line in test_lines:
    print(f"\"{test_line}\".istitle() -> {test_line.istitle()}")

"test line".istitle() -> False
"Test".istitle() -> True
"Test Line".istitle() -> True
"Test line".istitle() -> False