# Fill empty

Sometimes tables contain empty values. But in some cases it's convenient to replace such values with a specific value. So in this section I'll show you some features of databases that can help you to do this.

In [13]:
%%bash
docker run --rm -d\
    -e POSTGRES_PASSWORD=postgres \
    --name fill_empty \
    postgres:15.4 &> /dev/null
sleep 5
docker exec -i fill_empty psql -U postgres -d postgres

CREATE TABLE tab(
    var1 TEXT,
    var2 TEXT
);
INSERT INTO tab (var1, var2) VALUES
(NULL, 'world'),
('hello', NULL),
(NULL, 'test line');

CREATE TABLE
INSERT 0 3

In [ ]:
!docker stop fill_empty

## In query

### Postgres (COALESCE)

In [14]:
%%bash
docker exec -i fill_empty psql -U postgres -d postgres
SELECT * FROM tab;

 var1  |   var2
-------+-----------
       | world
 hello |
       | test line
(3 rows)

In [20]:
%%bash
docker exec -i fill_empty psql -U postgres -d postgres

SELECT 
    COALESCE(var1, 'NAN text') var1,
    COALESCE(var2, 'NAN text') var2
FROM tab;

   var1   |   var2
----------+-----------
 NAN text | world
 hello    | NAN text
 NAN text | test line
(3 rows)

### Alternative (IFNULL)

In [25]:
%%bash
sqlite3

CREATE TABLE tab(
    var1 TEXT,
    var2 TEXT
);
INSERT INTO tab (var1, var2) VALUES
(NULL, 'world'),
('hello', NULL),
(NULL, 'test line');

SELECT IFNULL(var1, 'NAN text') var1 FROM tab;

NAN text
hello
NAN text

## Change base

In [30]:
%%bash
docker exec -i fill_empty psql -U postgres -d postgres

UPDATE tab
SET var1 = 'replaced'
WHERE var1 IS NULL;

UPDATE 0

In [29]:
%%bash
docker exec -i fill_empty psql -U postgres -d postgres
SELECT * FROM tab;

   var1   |   var2
----------+-----------
 hello    |
 replaced | world
 replaced | test line
(3 rows)