# Select

Selecting data is the most important aspect of SQL for database users. This page provides an overview of different statements that can be used in the `SELECT` expression.

In [8]:
docker run -d --rm\
    --name select_examples\
    -e POSTGRES_PASSWORD=postgres\
    postgres:15.4 &> /dev/null
sleep 5

**Note**: Don't forget to stop the container when finished.

In [10]:
docker stop select_examples

select_examples

## Conditional (CASE)

With the `CASE` keyword, you can assign specified values to logical conditions. Find out more in the [specific page](select/conditional.ipynb).

---

The following cell shows how you can assign a string that describes the value originally in the column.

In [9]:
docker exec -i select_examples psql -U postgres -d postgres << EOF
SELECT
    numeric_value,
    CASE
        WHEN numeric_value<2 THEN 'less than two'
        ELSE 'more or equals than two'
    END
FROM (
    VALUES (0), (1), (2), (3), (4), (5)
) AS temp(numeric_value);
EOF

 numeric_value |          case
---------------+-------------------------
             0 | less than two
             1 | less than two
             2 | more or equals than two
             3 | more or equals than two
             4 | more or equals than two
             5 | more or equals than two
(6 rows)